.calculator {
  width: 310px;
  margin: 50px auto;
  background-color: #030303;
  padding: 20px;
  border-radius: 10px;
}

.input-row {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

.input-area {
  padding: 10px;
  font-size: 18px;
  text-align: right;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.clear-button {
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: #df1544;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-row {
  display: grid;
  grid-template-columns: 3.1fr 3.1fr 3.1fr 2fr;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  background-color: #cc29de;
  color: white;
  border: 1px solid #46b8da;
  border-radius: 5px;
}

button:hover {
  background-color: #48e134;
}

.calculator button {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
