body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}


.page-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  
}



.header {
  text-align: center;
  font-size: large;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  padding: 5px;
  border-radius: 8px;

}
.header h2, .header h3 {
  margin: 0;
}

.main-container {
  display: flex;
  align-items: flex-start;
}

.form-container {
  width: 45%;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
  width: 150px;
}

input, select, textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 48%;
}

button:hover {
  background: #0056b3;
}

button[type="button"] {
  background: #ccc;
}

button[type="button"]:hover {
  background: #999;
}

span {
  display: block;
  margin-bottom: 5px;
}

a {
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.separator {
  border: 0;
  border-top: 2px solid green;
  margin: 0 20px;
}

.result-container {
  width: 55%;
  padding: 20px;
  background-color: #e0f7fa;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.data-header {
  display: flex;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-weight: bold;
}

.enrolled_student{
  font-size: large;
 margin: 20px;
 text-align: center;
 font-weight: 700;
}
.header-description, .header-image {
  flex: 1;
  text-align: center;
}

.all-students {
  background-color: #ffffff;
  padding: 10px;
}

.student-entry {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.student-description {
  flex: 2;
  padding-right: 20px;
  background-color: #e0f2f1;
  border-right: 2px solid #4caf50;
  padding: 10px;
  border-radius: 4px;
}

.student-image {
  flex: 1;
  text-align: center;
  background-color: #e0f2f1;
  padding: 10px;
}

.student-image img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.student-separator {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
